html{
    width: 380px;
    height: 570px;
}

body{
    width: 100%;
    height: 100%;
}

.vinno-header{
    height: 80px;
    padding: 10px;
    margin: 0px;
}

.vinno-header-left{
    width: 80%;
    height: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.vinno-header-right{
    width: 20%;
    height: 100%;
    float: right;
    margin: 0;
    padding: 0;
}

.logo-img{
    height: 90%;
    width: auto;
}

.ext-name{
    height: 90%;
    display: inline-block;
    margin: 0;
    padding: 0px 0px 0px 10px;
}

.username{    
    text-align: center;
}

#logoutBtn{    
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    display: block;
}

.video{
    margin-top: 15px;
}

.thumbnail{
    width: 30%;
    height: auto;
    margin: 0;
    padding: 0;
    float: left;
}

.button-container{
    width: 17%;
    float: left;
}

.button-container > a{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
}

.video-title{
    margin-top: 5px;
    margin-left: 3%;
    width: 50%;
    float: left;
}

.separator{
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    margin-top: 12px;
    margin-bottom: 12px;
}

#currentPlaying{
    margin: 12px 0px 0px 0px;
    height: 200px;
}

#loadedVideos{
    height: 200px;
}