html{
    width: 380px;
    height: 570px;
}

body{
    width: 100%;
    height: 100%;
}

.vinno-header{
    height: 80px;
    padding: 10px;
    margin: 0px;
}

.vinno-header-left{
    width: 80%;
    height: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.vinno-header-right{
    width: 20%;
    height: 100%;
    float: right;
    margin: 0;
    padding: 0;
}

.logo-img{
    height: 90%;
    width: auto;
}

.page-title{
    height: 90%;
    display: inline-block;
    margin: 0;
    padding: 0px 0px 0px 10px;
    color: white;
}

.username{    
    text-align: center;
}

#logoutBtn{    
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    display: block;
}

.video{
    margin-top: 15px;
    background-color: rgba(216, 217, 221, 0.63);
    padding: 7px;
}

.thumbnail{
    width: 30%;
    height: auto;
    margin: 0;
    padding: 0;
    float: left;
}

.button-container{
    width: 11%;
    float: left;
}

.button-container > button{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.video-title{
    margin-top: 0px;
    margin-left: 3%;
    width: 56%;
    float: left;
}

p{
    font-size: 15px !important;
}

.separator{
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    margin-top: 12px;
    margin-bottom: 12px;
}

#currentlyPlaying{
    margin: 12px 0px 0px 0px;
    padding-top: 7px;
}

#loadedVideos{
    padding-top: 10px;
    height: 100%;
    background-color: white;
}

#addVideoBtn{
    padding: 0;
    width: 70%;
    height: 30px;
    margin: 0 15% 0 15%;
}

.hidden{
    display: none;
}

h4{
    text-align: center;
}

.save-btn{
    margin-left: 15px;
}

.preview-right{
    float: right;
    width: 45%;
    margin-left: 5%;
}

.preview-left{
    float: left;
    width: 50%;
}

.preview-left > img{
    width: 100%;
    height: auto;
}

.preview-right > p{
    text-align: center;   
}

.vinno-header{
    background-color: #082A3F;
    color: white;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.editTitle{
    font-size:16px;
    width:60%;
}
.closeBtn{
    float:right;
}
.deleteAnnotationBtn{
    margin-left:13px;
}
.annotations{
    display: none;
    overflow:hidden;
}
.displayTitle{
    margin:0 !important;
    font-weight: bold !important;
}
.ann-tag{
    display:inline;
    background-color:#C9C9C9;
    margin: 2px;
}
.glyphicon{
    cursor: pointer; cursor: hand;
}
.related-videos-container{
    overflow: hidden;
}
.annotation-images{
    display: inline-block;
    margin: 5px 5px 5px 5px;
}
.ann-img{
    display: inline-block;
    margin: 5px 5px 5px 0px;
    height: 60px;
}
.annotation-related-videos{
    float:left;
}
.jumbotron{
    margin: 0px;
    padding: 15px;
}
.details-left{
    width:89%;
    float:left;
}
.editTitle{
    color: white;   
}
.ann-video{
    float:left;
}